[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
"flake8" = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
django-cors-headers = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.7"
