body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
  }
h3 {
    margin: 0.6em 0 ;
}
.card {
  padding: 0 0.6em;
}
.cursor:hover {
  cursor: pointer!important;
}